.person__photo{width:100%;overflow:hidden;display:flex;background-image:var(--profile);background-size:cover;background-position:center top}.person__photo:after{content:"";display:block;padding-bottom:100%}.person__name{margin-top:10px;font-family:"Bravo"}.container.team{min-height:100%;padding-top:80px;padding-bottom:80px}

body{background:#160f3d;color:#fffffe}.team{margin-top:80px;margin-bottom:80px}.team .row{margin-bottom:10px}

